/* Map.tsx */

#reset:hover {
  transform: rotate(90deg);
}

@keyframes mapEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#map {
  animation: 0.7s ease-in-out mapEffect;
}
#detail-map {
  animation: 0.7s ease-in-out mapEffect;
}
#map-description {
  animation: 0.7s ease-in-out mapEffect;
}

/* Detail.tsx */

summary {
  list-style-type: '📌 ';
}
